<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/age.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/quotations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/registration.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/rocket.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <title>Project</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages:%}


        {% for message in messages: %}
        <script> alert("{{ message }}")</script>

        {%endfor%}
        
    {% endif %}
    {% endwith %}

    {% block content %}
    
    {% endblock %}
</body>
</html>